 /* test and cut anything unneccesary!
    also for the love of Dijkstra please organize this spahget 
    also make fonts and things more interesting*/

.title-font {
    position: absolute;
    top: 20vw;
    left: 70vw;
    transform: translate(-50%, -50%);

    font-size: 3vw;
    line-height: 0.4;
    color: white;
}

.subtitle-font {
    position: absolute;
    top: 27.5vw;
    left: 66.55vw;
    transform: translate(-50%, -50%);

    font-style: italic;
    font-size: 1.5vw;
    line-height: 0;
    color: white;
}

.parallax {
    /* background-color: black; change this to a pic of me w/ plain black background */
    background-image: url("imgs/pfp.jpg");  

    /* max-width: 50%; */
    /* max-heightP */ 
    min-height: 100vh;
    /* use clamp */
    left: 10vw;
    background-attachment: fixed;
    /* background-position: end; */
    background-repeat: no-repeat;
    background-size: cover;
  }

.about-me-textbox {
    /* background-image: url("imgs/black_flower.jpeg"); */
    background-image: url("imgs/stars2.jpeg");
    background-color: black;
    height: 100vh;
    /* use clamp */
    color: white;
    background-size: cover;
}

.about-me-textbox h1 {
    text-align: center;
    font-weight: bold;
    color: white;
}

.about-me-textbox p {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 1.5vw;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 0vw;
    line-height: 2vw;
    
}

.about-me-textbox h1 {
    font-weight: normal;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: 5vw;
    padding: 1vw;
}

.contact-me-textbox{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(252, 201, 210);
    font-size: 1.5vw;
    height: 4vw;
    padding: 2vw;
    font-weight: bold;
}

a:link {
    color: rgb(252, 201, 210);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(248, 106, 130);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }