.title-font {
  position: absolute;
  top: 8vw;
  left: 60vw;
  font-size: 3.5vw;
  color: white;
}

.subtitle-font {
  position: absolute;
  top: 20.5vw;
  left: 57.8vw;

  font-style: italic;
  font-size: 1.5vw;
  line-height: 0;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid #666; */
}
  
.column {
  flex-basis: 100vw;
  padding: 2vw;
  border: transparent;
  background: transparent;
}

/* change all the pixels to vw's  and style these better lol*/
/* I would like these to have more space between them, be minimalistic (again check with Sophia/Jesse to see what they think) also lengthen the boxes */
.project {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 0.5vw;
  position:relative;

  background-color:transparent;
  border-color: white;
  
  border-radius:0.75vw;
  border-width: 0.5vw;
  padding:1.5vw;
  height: 20vw; 
  width: 13vw;
  
  text-align: left;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: #fff;
  font-size: 1.5vw;
}

.project:hover {
  background-color:white;
  color: black;
  transition: 0.7s;
}