p {
    text-align: left;
    color: white;
    font-size: 1.5vw;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 0vw;
    line-height: 3vw;
}

pre {
    text-align: left;
    color: white;
    font-size: 1.5vw;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 0vw;
    line-height: 3vw;
}

h1 {
    text-align: center;
    color: white;
    font-size: 5vw;
    margin: 0vw;
    margin-top: 1vw;
}

h2 {
    text-align: center;
    color: white;
    font-size: 2vw;
}

img {
    width: 48vw;
}

.footer{
    background-color: white;
    height: 42vh;

    color: black;
    text-align: center;
    font-size: 1.5vw;
    line-height: 3vw;
    
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}