p {
    text-align: left;
    color: white;
    font-size: 1.5vw;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 0vw;
    line-height: 3vw;
}

h1 {
    text-align: center;
    color: white;
    font-size: 5vw;
    margin: 0vw;
    margin-top: 1vw;
}

h2 {
    text-align: center;
    color: white;
    font-size: 2vw;
}

/* br {} */